@media screen and (max-width: 650px) {
  .info-block .content-left h1 {
    font-size: 70px;
    word-spacing: 2px;
    line-height: 65px;
  }

  .foot-note {
      font-size: 24px;
      word-spacing: 2px;
  }
}

