* {
  font-family: sans-serif; }
  * p {
    line-height: 1.7em;
    color: #979797; }
  * h1 {
    color: white; }
  * a {
    color: white; }

body {
  margin: 0;
  padding: 0; }

.button {
  border-radius: 2px;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  color: white;
  padding: 10px;
  transition-duration: 100ms; }

.download-button {
  color: white;
  background-color: #B9B9B9;
  position: relative;
  top: 50%; }
  .download-button:hover {
    background: #B0AEAE; }

.social-button {
  float: right;
  position: relative;
  top: 50%;
  margin: 0 5px; }

.fb-button {
  background-color: #4646FC;
  padding: 4px 10px;
  font-weight: 700;
  font-size: 20px; }

.yb-button {
  padding: 4px 10px;
  font-weight: 700;
  font-size: 20px;
  background-color: #E80808; }

.is-current {
  text-decoration: underline; }

#go-button {
  color: white;
  border-style: solid;
  border-radius: 4px;
  background-color: #29F759;
  border-width: 0;
  padding: 10px;
  text-decoration: none;
  position: absolute;
  bottom: 13px;
  right: 13px;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 100ms; }
  #go-button #go-button:hover {
    background-color: #6ade35; }

.background {
  width: 100%;
  height: 100vh;
  background-image: url(bg.jpg);
  background-position: center;
  background-size: cover; }
  .background-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100;
    visibility: hidden; }
  .background .logo {
    position: absolute;
    display: block;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    border-style: solid;
    border-color: transparent;
    border-width: 0;
    background-color: #13E6FF;
    background-image: url("logo2.png");
    background-position: center;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .background .logo::before {
      border-radius: 100%;
      border-style: solid;
      border-color: transparent;
      border-width: 0;
      background-color: #4283c169;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 170px;
      height: 170px;
      z-index: 1; }
    .background .logo::after {
      content: "";
      width: 0px;
      height: 0px;
      display: block;
      position: absolute;
      background-color: #22c6cceb;
      background-image: url(logo2.png);
      background-position: center;
      background-size: 170px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition-duration: 1s;
      border-radius: 100%;
      border-style: solid;
      border-color: transparent;
      border-width: 0;
      z-index: 2; }
    .background .logo:hover::after {
      width: 170px;
      height: 170px; }
    .background .logo::visited {
      display: none; }
  .background .static-logo {
    position: absolute;
    display: block;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    border-style: solid;
    border-color: transparent;
    border-width: 0;
    background-color: #13E6FF;
    background-image: url("logo2.png");
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.info-block {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 70%;
  border-style: solid;
  border-width: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .info-block .static-logo {
    top: 0;
    left: 50%;
    width: 120px;
    height: 120px;
    background-size: cover; }
  .info-block .content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    height: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .info-block .content p {
      padding-left: 20px; }

.cr-container {
  border-style: solid;
  border-color: white;
  border-width: 0;
  border-left-width: 1px;
  border-left-color: #B9B8B8;
  width: 100%;
  height: 100%; }
  .cr-container .cr-buttons {
    float: left;
    width: 15%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px; }
    .cr-container .cr-buttons button {
      border-style: solid;
      background-color: transparent;
      border-color: #2278F9;
      color: #2278F9;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 90%;
      padding: 4px;
      margin: 3px;
      transition-duration: 100ms; }
      .cr-container .cr-buttons button:hover {
        background-color: #2570E1;
        color: white; }
  .cr-container .cr-text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    width: 85%;
    height: 100%;
    padding: 4px 9px;
    overflow-y: scroll; }
    .cr-container .cr-text h1 {
      color: white;
      margin: 0; }
    .cr-container .cr-text p {
      color: #CCC9C9;
      padding-left: 10%; }

nav {
  box-sizing: border-box;
  border-bottom: 2px solid;
  padding-right: 23px;
  background: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden; }
  nav ul {
    list-style-type: none;
    padding: 0;
    overflow: auto;
    margin: 10px 0; }
    nav ul li {
      float: right;
      margin: 0 34px; }
      nav ul li a {
        font-weight: bold;
        text-decoration: none;
        display: block;
        padding: 10px;
        color: #fff;
        font-size: 15px; }
        nav ul li a::before {
          content: "";
          position: absolute;
          width: 23px;
          height: 23px; }

@media screen and (max-width: 850px) {
  .cr-buttons {
    width: 100% !important;
    height: auto !important; }
    .cr-buttons button {
      width: 30% !important; }
  .cr-text {
    height: 90% !important;
    width: 100% !important; } }
